
ion-page{
    --background: green;
}
ion-content{
    --background: rgb(255, 196, 0);
    --background: rgba(240, 136, 0, 0.699);
    --background: transparent;
    font-family:  Arial, Helvetica, sans-serif;
}
ion-toolbar{
    --background: blue;
}
ion-title{
    --background: gray;
}
.center router-link {
    text-decoration: none;
  }
/* body {
    font-family: 'Quicksand', sans-serif;
  } */
  
.centered{
    text-align: center;
}
.menu{
    /* background-color: #F08800; */
    background-color: #c5b5a1;
    /* font-family: Quicksand,Arial, Helvetica, sans-serif; */
    /* font-family: 'Quicksand', sans-serif; */
}
.menuContainer{
    text-align: center;
}
.welcomeText{
    /* font-family: 'Quicksand', sans-serif; */
    font-family: Satisfy, sans-serif;
    /* font-family: Raleway; */
    font-size: 16px;
}
.feuilleContainer{
    text-align: center;
    display: inline-flex;
    /* position: relative; */
    text-align: center;
    width: 90vw;
    /* height: 40px; */
    border-radius: 25px;
}
.openImage{
    text-align: center;
    display: inline-block;
    /* position: relative; */
    text-align: center;
    width: 90vw;
    background-color: red;
    /* height: 40px; */
    border-radius: 25px;
}
.menuSticky{
    position: sticky;
    top: 2px;
}
