.alert-message.sc-ion-alert-ios:empty {
    border-bottom: 1px solid rgba(56,56,56,0.2);
}

.alert-button.sc-ion-alert-ios:last-child {
    /* border-top: 2px solid red; */
    color: red; 
}


ion-content{
    --background: transparent;
    font-family:  Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(56,56,56,0.4);
    border-radius: 15px;
  }
  ::-webkit-scrollbar {
    width: 3px;
    color: green;
  }
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

ion-toolbar{
    --background: blue;
}
ion-title{
    --background: gray;
}

 .prtFolio{
    position: relative;
    background: radial-gradient(closest-side at 55% 40%,  lime, rgba(0, 255, 0, 0.466), transparent 94%) 400px 0;
    z-index: -2;
 }
.center router-link {
    text-decoration: none;
  }
body {
    font-family: 'Quicksand', sans-serif;
  }
  
.centered{
    text-align: center;
}
.menu{
    background-color: #c5b5a1;
}
.menuContainer{
    text-align: center;
}
.welcomeText{
    font-family: Satisfy, sans-serif;
    font-size: 18px;

}
.innerText{
    background: linear-gradient(to right, red,orange,white, black);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    justify-content: center;
}
.feuilleContainer{
    text-align: center;
    display: inline-flex;
    text-align: center;
    width: 90vw;
    border-radius: 25px;
}
.openImage{
    text-align: center;
    display: inline-block;
    text-align: center;
    width: 90vw;
    height: auto;
    background-color: red;
    background-color: gray;
    border-radius: 18px;
}
.menuSticky{
    position: sticky;
    top: 2px;
}
.menu{
    display: inline-block;
    position: relative;
    text-align: center;
    align-content: center;
    align-items: center;
    width: 90vw;
    height: 40px;
    border-radius: 25px;
    padding-right: 1vw;
}
.unclicked{
    display: inline-flex;
    margin: auto;
    height: 41px; 
    width: 20vw; 
    background-color: red;
    border-radius: 25px;
    border: 3px solid black;
    margin-left: 1vw;
}
.tex{
    display: inline-flex; 
    text-align: center;
    margin: auto;
}
.summary{
    display: inline-block;
    font-family: "Open Sans", sans-serif ;
    text-align: center;
    width: 90vw;
    height: 40px;
    margin-top: 10px;
    border-radius: 25px;
}
.textIndented{
    text-align: justify; 
    text-indent: 2em;
}
.mantra{
    color: white;
    font-weight: bold;
}
.intere{
    display: inline-flex;
    width: 75vw;
    height: 4.5rem; 
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    margin: 20px;
    background-color: black;
    background: linear-gradient(to right, red, orange, brown);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 6px double grey;
}
@media screen and (max-width: 259px) {
    .fs{
        font-size: 11px;
    }
}
@media screen and (max-width: 325px) {
    .mantra{
        color: white;
        font-size: 8px;
        font-weight: bold;
    }
}
@media screen and (min-width: 260px) {
    .fs{
        font-size: 11px;
    }
}
@media screen and (min-width: 370px) {
    .fs{
        font-size: 13px;
    }
}
@media screen and (min-width: 470px) {
    .fs{
        font-size: 16px;
    }
}


@media screen and (min-width: 600px) {
    .menu{
        display: inline-block;
        position: relative;
        background-color: transparent;
        text-align: center;
        align-content: center;
        align-items: center;
        width: 75vw;
        height: 40px;
        border-radius: 25px;
        padding-right: 1vw;
    }
    .unclicked{
        height: 41px; 
        width: 12vw; 
        background-color: red;
        align-content: center; 
        border-radius: 25px;
        border: 3px solid black;
        margin-left: 1vw;
    }
    .fs{
        font-size: 18px;
    }
}
@media screen and (min-width: 850px) {
    .fs{
        font-size: 20px;
    }
    .summary{
        display: inline-block;
        text-align: center;
        width: 75vw;
        height: 40px;
        border-radius: 25px;
    }
    .openImage{
        text-align: center;
        display: inline-block;
        text-align: center;
        width: 55vw;
        height: auto;
        background-color: red;
        background-color: gray;
        border-radius: 18px;
    }
}
@media screen and (min-width: 1050px){
    .bigWidth{
        width: 80%;
    }
    .intere{
        width: 40vw;
    }
}

.summaryElement{
    width: 33vw; 
    display: inline-block; 
    margin: 20px 20px;
    background-color: rgba(128, 128, 128, 0.555); 
    border-radius: 25px; 
    box-shadow: 0 0 10px grey; 
    text-align: justify;
}
.summaryElement:hover{
    box-shadow: 0 0 10px black;
}
.summaryElementActive{
    width: 53vw; 
    display: inline-block; 
    margin: 20px 20px;
    background-color: white; 
    border-radius: 25px; 
    box-shadow: 0 0 20px gray; 
    text-align: justify;
}
.elementTitle{
    height: 30px;
    margin-top: -5px;
    background-color: #ef4b38;
    border-top-left-radius: 18px; 
    border-top-right-radius: 18px;
    text-align: center; 
    font-size: .9rem;
    align-items: center; 
    align-content: center;
}
.elementTitle2{
    height: 30px;
    margin-top: -5px;
    background-color: #594c4c; 
    color: white;
    border-top-left-radius: 18px; 
    border-top-right-radius: 18px;
    text-align: center; 
    font-size: .9rem;
    align-items: center; 
    align-content: center;
}
.customAlert {
    --background: #f0f0f0;
    --line-color: #000; /* Separator line color */
    color: #333; /* Text color */
    border-bottom: 1px solid red;
  }
@media screen and (max-width: 600px) {
.summaryElement{
    width: 85vw; 
    height: auto;
    display: block; 
    margin: 10px 10px;
    background-color: rgba(128, 128, 128, 0.555); 
    background-color: yellow; 
    background-color: white; 
    border-radius: 25px; 
    box-shadow: 0 0 20px gray; 
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 20px;
}
.summaryElementActive{
    width: 85vw; 
    display: block; 
    margin: 20px 10px;
    background-color: rgba(128, 128, 128, 0.555); 
    border-radius: 25px; 
    box-shadow: 0 0 20px white; 
    text-align: justify;
    padding-bottom: 5px;
}
}


.elementTitle{
    display: flex;
    justify-content: center;
    padding: 0 5px;
}
.elementTitle2{
    display: flex;
    justify-content: center;
    padding: 0 5px;
}


/* For Open-Pic.vue */
.t-a{
    text-align: center;
}
.im{
    border-radius:200px;
    margin-top:-10px; 
    border:6px double white;
}
.quote {
    font-size: 20px;
    font-style: italic;
    border-left: 4px solid salmon ;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px 0;
}
.bq-1{
    font-size: 72px;
}
.bq-2{
    font-size: 42px;
}
.d-i{
    display: inline;
}
.m-50{
    margin-top: -50px;
}
.v-a{
    vertical-align: middle;
}
.l-h{
    line-height: 0;
}
.c{
    color: #333;
}
.author{
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #666;
    margin-top: 10px;
}

/* For showPic component */
.mt-20{margin-top: 20px;}
.fw-b{font-weight: bolder;}
.m-20{margin: 20px;}
.c-b{color: brown;}
.ff-o{font-family: Sen, sans-serif; font-weight: 100;}

/* Other */
.m-co{margin: 3rem 20px;}
